.footer {
  display: flex;
  flex-direction: column;
  margin: 0 3vw;
  margin-top: 50px;
  color: #bec0af;
  background-color: #21504E;
  padding: 2.5vw 3vw;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  height: 190px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.left-footer {
  display: flex;
}

.left-footer img {
  width: 200px;
}

.left-footer h1 {
  font-size: clamp(2.2rem, 3vw + 0.5rem, 3.6rem);
  font-weight: 600;
  align-content: center;
  margin-left: 18px;
}

.right-footer {
  display: flex;
}

.footer-ul-1,
.footer-ul-2 {
  list-style-type: none;
  margin-right: 90px;
}

.footer-ul-1 li,
.footer-ul-2 li {
  margin-bottom: 5px;
}

.footer-ul-1 a,
.footer-ul-2 a {
  font-size: clamp(0.5rem, 0.7vw + 0.5rem, 1rem);
  text-decoration: none;
  color: #bec0af;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.bottom-footer {
  display: flex;
  flex-direction: column;
}

.line-footer {
  background-color: #ffffff;
  height: 1.5px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.bottom-text {
  display: flex;
  justify-content: space-between;
}

.bottom-text p {
  font-size: clamp(0.5rem, 0.7vw + 0.5rem, 1rem);
}

.bottom-text h5 {
  font-size: clamp(0.9rem, 1.2vw + 0.5rem, 1.6rem);
}
