* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --primary-color: #ffffff;
}

body {
  font-family: 'Instrument Sans', sans-serif;
  background-color: var(--primary-color);
  padding: 0;
  margin: 0;
}

.hero {
  background-image: url('image.png');
  background-size: cover;              
  background-position: center;
  background-repeat: no-repeat;
  height: 91vh;

  margin: 2% 2%;
  border-radius: 0 40px 0 40px;
  overflow: hidden;
  box-shadow:
    0 12px 25px rgba(0, 0, 0, 0.3) inset,
    0 20px 60px rgba(0, 0, 0, 0.2) inset;
}

.curve-one, .curve-two , .curve-three, .curve-four {
  width: 50px;
  height: 45px;
  content: "";
  position: absolute;
}

.curve-one {
  background-color: transparent;
  top: 0px;
  left: 20%;
  border-top-left-radius: 40px;
  box-shadow: -15px -9px var(--primary-color);
}

.curve-two {
  background-color: transparent;
  left: 0px;
  top: 100%;
  border-top-left-radius: 40px;
  box-shadow: -16px -8px var(--primary-color);
}

.curve-three {
  background-color: transparent;
  bottom: -13.5%;
  right: 0px;
  border-bottom-right-radius: 40px;
  box-shadow: 13px 12px var(--primary-color);
}

.curve-four {
  background-color: transparent;
  bottom: 4.9%;
  right: 21.2%;
  border-bottom-right-radius: 40px;
  box-shadow: 13px 10px var(--primary-color);
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

/* header */

header {
  display: flex;
  align-items: center;
  position: relative;
}

header img {
  background-color: var(--primary-color);
  width: 20%;
  height: auto;
  padding: 0px 35px 20px 10px;
  border-bottom-right-radius: 40px;
  box-shadow:
    0 12px 25px rgba(0, 0, 0, 0.3),
    0 20px 60px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

nav {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  font-size: clamp(0.9rem, 0.6vw + 0.4rem, 1.1rem);
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.449);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.1s ease;
}

nav a {
  position: relative;
  text-decoration: none;
  letter-spacing: 1px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  padding: 5px 10px;
}

nav a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff;
}

nav ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  gap: 25px;
}

header a {
  color: black;
  text-decoration: none;
}

.btn-masuk-daftar {
  position: absolute;
  right: 50px;
  top: 15px;
  font-size: clamp(0.9rem, 0.6vw + 0.4rem, 1.1rem);
  font-weight: 500;
  padding: 15px 30px;
  background-color: #FFA602;
  border-radius: 50px;
  transition: 0.2s ease;
}

.btn-masuk-daftar:hover {
  background-color: #f19d00;
}


/* content */

.content {
  display: flex;
  width: 100%;
}

.main {
  color: var(--primary-color);
  width: 80%;
  padding: 7% 60px 0 60px;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.main h1 {
  font-size: clamp(2.2rem, 4vw + 0.5rem, 4.5rem);
  font-weight: 500;
  margin-bottom: 15px;
}

.main h2 {
  font-size: clamp(1.5rem, 2vw + 0.5rem, 2.5rem);
  font-weight: 500;
  margin-bottom: 15px;
}

.main p {
  font-size: clamp(1rem, 1vw + 0.5rem, 1.4rem);
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: 3px;
}

.btn-pesan-sekarang {
  font-size: clamp(0.9rem, 0.7vw + 0.4rem, 1.1rem);
  padding: 15px;
  width: 180px;
  border: 0;
  border-radius: 50px;
  background-color: #FFA602;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-pesan-sekarang:hover {
  background-color: #f19d00;
}
/* anim */
.fade-left {
  opacity: 0;
  transform: translateX(-40px);
  animation: fadeLeft 0.8s ease-out forwards;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-delay-1 { animation-delay: 0.1s; }
.fade-delay-2 { animation-delay: 0.2s; }
.fade-delay-3 { animation-delay: 0.3s; }
.fade-delay-4 { animation-delay: 0.4s; }

.side {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-end;
  width: 20%;
  background: var(--primary-color);
  padding: 1% 0px 0px 2%;
  border-top-left-radius: 50px;
  box-shadow:
    0 12px 25px rgba(0, 0, 0, 0.3),
    0 20px 60px rgba(0, 0, 0, 0.2);
}

.item {
  align-self: start;
  margin-top: 11px;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 6px 25px rgba(0,0,0,0.6);
  border-radius: inherit;
  pointer-events: none;
  border-radius: 40px;
  z-index: 1;
}

.item-button {
  position: absolute;
  top: 75%;
  right: 0%;
  width: 25%;
  height: 25%;
  background-color: #20504E;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 0.7vw var(--primary-color);
  z-index: 2;
  cursor: pointer;
  transition: 0.3s ease;
}

.item-button:hover {

}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.item-content {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 1.0vw + 0.5rem, 1.6rem);
  position: absolute;
  top: 30px;
  left: 30px;
  width: 80%;
  color: var(--primary-color);
  line-height: 1.2;
}

.highlight {
  font-size: clamp(1.2rem, 1.1vw + 0.5rem, 2rem);
  color: #E6FFC6;
  font-weight: 600;
}


.curve-item-one {
  background-color: transparent;
  content: "";
  width: 20px;
  height: 32px;
  position: absolute;
  right: 0%;
  bottom: 27%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 13px var(--primary-color);
  z-index: 2;
}

.curve-item-two {
  background-color: transparent;
  content: "";
  width: 32px;
  height: 20px;
  position: absolute;
  right: 26.8%;
  bottom: 0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 13px 5px var(--primary-color);
  z-index: 2;
}

.item-button img {
  position: relative;
  right: 25%;
  bottom: 25%;
  width: 150%;
}

/* Why Us Section */
.why-us {
  margin: 0 2%;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-us h1 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: clamp(2.0rem, 3.2vw + 0.5rem, 4rem);
  font-weight: 500;
  letter-spacing: 1px;
}

.why-us h3 {
  font-size: clamp(1.2rem, 1.3vw + 0.5rem, 1.8rem);
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  filter: blur(6px);
  transition: all 0.8s ease-out;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

/* Container utama dua sisi */
.slider-container {
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: stretch;
}

.left-slider,
.right-slider {
  height: auto;
}

/* --- LEFT SLIDER --- */
.left-slider {
  width: 60%;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  flex: 1;
}
.left-slider {
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  aspect-ratio: 16/9;
}

.item-slider {
  display: flex;
  transition: left 1s ease;
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-slider .list {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
}

.item-slider .list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  display: block;
}


.right-slider {
  width: 40%;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.container-slider {
  display: flex;
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;

  transition: left 1s ease;
  box-sizing: border-box;
}

.container-slide {
  flex: 0 0 100%;
  width: 100%;
  box-sizing: border-box;
  color: var(--primary-color);
  background-color: #20504E;
  padding: 10%;
  /* border-radius: 8%; */
  position: relative;
  height: auto;
}

.container-slide img {
  width: 20%;
  height: auto;
  display: block;
  margin-bottom: 5%;
}


.container-slide h2 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: clamp(2.0rem, 2.6vw + 0.5rem, 3.5rem);
  font-weight: 400;
  margin-bottom: 15px;
}

.container-slide p {
  font-family: 'Raleway', sans-serif;
  font-size: clamp(1.2rem, 1.4vw + 0.5rem, 2.3rem);
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.4;
}

.why {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 20%;
  border-bottom-left-radius: 35px;
  z-index: 5;
}

.why p {
  font-family: 'Raleway', sans-serif;
  font-size: clamp(1.3rem, 1.5vw + 0.5rem, 2.3rem);
  font-weight: 500;
  border: 2px solid black;
  border-radius: 18px;
  padding: 4% 6%;
  margin: 0;
}

/* dots */
.dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.dots li {
  list-style: none;
  width: 20px;
  height: 10px;
  background-color: #fff;
  margin: 8px;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.dots li.active {
  width: 100px;
  background-color: var(--primary-color, #0a9396);
}

.why::before, .why::after, .curve-slider-one, .curve-slider-two, .curve-slider-three {
  width: 55px;
  height: 55px;
  content: "";
  position: absolute;
}

.why::before {
  background-color: transparent;
  top: 0%;
  right: 100%;
  border-top-right-radius: 80%;
  box-shadow: 15px -15px var(--primary-color);
}

.why::after {
  background-color: transparent;
  top: 100%;
  right: 0%;
  border-top-right-radius: 80%;
  box-shadow: 15px -15px var(--primary-color);
}

.curve-slider-one {
  background-color: transparent;
  top: 0%;
  left: 0%;
  border-top-left-radius: 80%;
  box-shadow: -15px -15px var(--primary-color);
}

.curve-slider-two {
  background-color: transparent;
  bottom: 0%;
  left: 0%;
  border-bottom-left-radius: 80%;
  box-shadow: -15px 15px var(--primary-color);
}

.curve-slider-three {
  background-color: transparent;
  bottom: 0%;
  right: 0%;
  border-bottom-right-radius: 80%;
  box-shadow: 15px 15px var(--primary-color);
}