* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #1c3b1a;
}

body {
  font-family: 'Instrument Sans', sans-serif;
  background-color: var(--primary-color);
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

.label {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
