/* Why Us Section */
.why-us {
  color: var(--secondary-color);
  margin: 0 2%;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-us h1 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: clamp(2.0rem, 3.2vw + 0.5rem, 4rem);
  font-weight: 500;
  letter-spacing: 1px;
}

.why-us h3 {
  font-size: clamp(1.2rem, 1.3vw + 0.5rem, 1.8rem);
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  filter: blur(6px);
  transition: all 0.8s ease-out;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

/* Container utama dua sisi */
.slider-container {
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: stretch;
}

.left-slider,
.right-slider {
  height: auto;
}

/* --- LEFT SLIDER --- */
.left-slider {
  width: 60%;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  flex: 1;
}
.left-slider {
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  aspect-ratio: 16/9;
}

.item-slider {
  display: flex;
  transition: left 1s ease;
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-slider .list {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
}

.item-slider .list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  display: block;
}


.right-slider {
  width: 40%;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.container-slider {
  display: flex;
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;

  transition: left 1s ease;
  box-sizing: border-box;
}

.container-slide {
  flex: 0 0 100%;
  width: 100%;
  box-sizing: border-box;
  color: var(--primary-color);
  background-color: #20504E;
  padding: 10%;
  /* border-radius: 8%; */
  position: relative;
  height: auto;
}

.container-slide img {
  width: 20%;
  height: auto;
  display: block;
  margin-bottom: 5%;
}


.container-slide h2 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: clamp(2.0rem, 2.6vw + 0.5rem, 3.5rem);
  font-weight: 400;
  margin-bottom: 15px;
}

.container-slide p {
  font-family: 'Raleway', sans-serif;
  font-size: clamp(1.2rem, 1.4vw + 0.5rem, 2.3rem);
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.4;
}

.why {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 20%;
  border-bottom-left-radius: 35px;
  z-index: 5;
}

.why p {
  font-family: 'Raleway', sans-serif;
  font-size: clamp(1.3rem, 1.5vw + 0.5rem, 2.3rem);
  font-weight: 500;
  border: 2px solid black;
  border-radius: 18px;
  padding: 4% 6%;
  margin: 0;
}

/* dots */
.dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.dots li {
  list-style: none;
  width: 20px;
  height: 10px;
  background-color: #fff;
  margin: 8px;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.dots li.active {
  width: 100px;
  background-color: var(--primary-color, #0a9396);
}

.why::before, .why::after, .curve-slider-one, .curve-slider-two, .curve-slider-three {
  width: 55px;
  height: 55px;
  content: "";
  position: absolute;
}

.why::before {
  background-color: transparent;
  top: 0%;
  right: 100%;
  border-top-right-radius: 80%;
  box-shadow: 15px -15px var(--primary-color);
}

.why::after {
  background-color: transparent;
  top: 100%;
  right: 0%;
  border-top-right-radius: 80%;
  box-shadow: 15px -15px var(--primary-color);
}

.curve-slider-one {
  background-color: transparent;
  top: 0%;
  left: 0%;
  border-top-left-radius: 80%;
  box-shadow: -15px -15px var(--primary-color);
}

.curve-slider-two {
  background-color: transparent;
  bottom: 0%;
  left: 0%;
  border-bottom-left-radius: 80%;
  box-shadow: -15px 15px var(--primary-color);
}

.curve-slider-three {
  background-color: transparent;
  bottom: 0%;
  right: 0%;
  border-bottom-right-radius: 80%;
  box-shadow: 15px 15px var(--primary-color);
}